/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
          /* Add fonts from the app's server 
@font-face {                
  font-family: 'FontName';
  src: url('FontName.woff2') format('woff2');
} 
          */                           

          /* ...or hosted services like Google Fonts 
@import url(//fonts.googleapis.com/css?family=Font+Name);
          */

          /* @import '../node_modules/modern-normalize/modern-normalize.css';
          /* npm install modern-normalize 
            Resets elements for browser consistancy.  
            http://nicolasgallagher.com/about-normalize-css/ 
          */

          /* Component-specific stylesheets, if any 
@import "component1.css";   
          */

/*   ----- Variables  -----  */
:root {
  --custom-color-name:;
  --custom-embellishment-name:;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {       /* Can alternatively define in html {} or :root {} */
  color:;
  background-color:lightgrey;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:;
  margin:;
  padding:;
  text-align: center;
}


/*  ----- Page layout blocks -----  */
header {}
main {}
section {}
  article {}
    #topic1 {}
    #topic2 {}
    #gallery1 {}
    #gallery2 {}
div {}
aside {}
footer {}

/*  -----  Typography  ----- */
p {}
br {}
ol, ul, dl {}
li {}
dt {}
dd {}

h1, h2, h3, h4, h5, h6 {} /* Define consistant font family.*/
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

cite {}



/*  ----- Table ----- */
table {
    text-align: center;
    margin: auto;
    border: 2px solid blue;
}
caption {
    font-size: 1.5em;
}
thead {}
tbody {
    border: 3px solid blue;}
tfoot {}
tr {
    border: 2px solid blue;
}
  tr:nth-child(even) {
    background-color: antiquewhite;
  }
th {
    border: 2px solid blue;
    font-size: 1.35em;
    font-weight: bold;
}
td {
    font-size: 1.2em;
    width: 300px;
    text-align: center;
}
  td:nth-child(1) {
    padding-left: 55px;
  }
  td:nth-child(2) {
    padding-left: 120px;
  }
colgroup {}
data {}
datalist {}


/*  ----- Form ----- */
form {
  font-size: 32px;
  align-content: center;
}
input {
  font-size: 24px;
  width: 300px;
}
button {
    font-size: larger;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flexbox;
    margin: top 10px;
}
label {
  display: block;
  font-weight: 600;
  margin: top 10px;
}


@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}
